<div class="container ">
  <div class="row mb-5">
    <div class="col-12">
      <h1 class="font-weight-bold mb-5">About Me</h1>
    </div>
    <div class=" col-12 col-md-6 mb-4 mb-md-0">
      <div class="img-container mx-auto shadow">
        <img src="assets/img/profile-img/patrick_oswald.jpg" alt="image">
      </div>
    </div>
    <div class="col-12 col-md-6 me-auto ms-4">
      <div class="">
        <p>Hey there! I'm Patrick Oswald, full stack web developer, based in western Kentucky. I'm a husband and a dad who enjoys traveling and spending time outdoors boating, fishing, hiking and with my two Labrador Retrievers.
          My entrepreneurial background and wide range of interests led me to pursue a career in web development. I'm experienced in ... and seeking new opportunities in a collaborative tech environment.

        </p>
      </div>
    </div>
  </div>
</div>