<footer  data-background-color="black" class="footer fixed-bottom pb-0">
    <div  class="container-fluid">
        <nav >
            <ul >
                <li ><h2><a href="https://github.com/poswald338" target="_blank"
                    class="text-white"><i class="fa fa-github mr-2"></i></a></h2></li>
                <li ><h2><a
                    href="https://www.linkedin.com" target="_blank" class="text-white"><i
                    class="fa fa-linkedin ml-2 mr-2"></i></a></h2></li>
                <li ><h2><a href="#"
                    (click)="sendMail()" target="_blank" class="text-white"><i
                    class="fa fa-regular fa-envelope ml-2"></i></a></h2></li>
            </ul>
        </nav>
        <div  class="copyright"> © 2021, Patrick Oswald</div>
    </div>
</footer>